<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="https://kit-pro.fontawesome.com/releases/v5.12.1/css/pro.min.css">
    <meta charset="utf-8" />
    <meta
      http-equiv="Content-Security-Policy"
      content="script-src 'self' 'unsafe-inline'"
    />
    <title>Mongo Lens</title>
  </head>
  <body>
    <div id="root"></div>
  </body>
</html>
